.unit {
    width: 260px;
    margin: 0 2px 0 2px;
    min-height: 210px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px black;
    display: inline-block;
    background: #D1D1BA;
}

.unit-top {

}

.unit-bottom {

}

.unit-sprite {

}

.unit-top-text {

}

.unit-name {
    font-size: 2em;
    font-weight: 600;
    margin: 0px;
}

.unit-types {
    font-size: .8em;
    font-weight: 800;
    margin: 0px;
}

.unit-cost {
    font-size: .8em;
    margin: 0 0 0 16px;
}

.unit-rarity {
    font-size: .8em;
    margin: 0 0 4px 16px;
}

.unit-bottom {
    padding: 0 0 10px 0;
}

.unit-back-row {
    
}

.unit-front-row {

}

.unit-row-title {
    text-align: center;
    font-size: .8em;
    font-weight: 800;
    margin: 0 0 4px 0;
}

.unit-action {
    margin: 0 0 8px 0;
    padding: 0 0 0 16px;
    font-weight: 800;
    background-color: black;
    color: white;
}

.action-defense {

}

.action-gold {

}

.action-attack {

}

.action-crystal {

}

