body {
    background:url(../images/hg-hero.png) top right no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

body:after {
    content: "";
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    opacity: .5;
}

header {
    color: #fff;
    background-color: #c8532f;

}

.navigation {
    font-size: 1.2em;
    list-style: none;
    margin:0;
    opacity: .8;
}

.navigation a {
    text-decoration: none;
    float:right;
}

.navigation li {
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 8px 0 8px 0;
}

.navigation li:hover {
    text-decoration: underline;
}

.hero h2 {
    color: #fff;
    text-shadow: 0 2px 4px #1e2835;
}

.search-instructions {
    display: none;
    position: absolute;
    left: 203px;
    top: 71px;
    width: 268px;
    background-color: #c8532f;
    color: #FFF;
    border-radius: 8px;
    padding: 12px 12px 0 12px;
    box-shadow: 0 0 1px 1px #222;
    font-size: 1.2em;
}

.search-instructions span {
    font-family: "Courier New", Courier, monospace;
    background-color: #9F2A06;
    padding: 0 8px 0 8px;
}

.search-instructions:after, .search-instructions:before {
    right: 100%;
    top: 32px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.search-instructions:after {
    border-color: rgba(200, 83, 47, 0);
    border-right-color: #c8532f;
    border-width: 10px;
    margin-top: -10px;
}
.search-instructions:before {
    border-color: rgba(34, 34, 34, 0);
    border-right-color: #222;
    border-width: 11px;
    margin-top: -11px;
}

#search {
    width: 168px;
}

.buttons {
    width: 192px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border: 2px solid #c8532f;
    border-radius: 8px;


}

.search-text {
    color: #FFF;
    font-size: 1.5em;
    padding: 10px 0 5px 0;
}
.buttons p {
    text-shadow: 0 2px 4px #1e2835;
    display: inline-block;
    margin: 0;

}

.buttons i {
    font-size: 1.0em;
    color: #FFF;
    margin-left: 62px;
    padding: 6px 0 6px 6px;
}

.buttons i:hover {
    color: #c8532f;
}



.city {
    min-width: 168px
}

.unit-wrapper {
    text-align: center;
}

.units {
    display: inline-block;
    min-height: 646px;
    margin: 0 0 0 200px;
    text-align: left;
}

.unit {
    width: 260px;
    margin: 0 4px 2px 4px;
    min-height: 210px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px #222;
    display: inline-block;
    background: #D1D1BA;
}

.unit-top {

}

.unit-bottom {

}

.unit-sprite {

}

.unit-top-text {

}

.unit-name {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0px;
}

.unit-types {
    font-size: .8em;
    font-weight: 800;
    margin: 0px;
}

.unit-cost {
    font-size: .8em;
    margin: 0 0 0 16px;
}

.unit-rarity {
    font-size: .8em;
    margin: 0 0 4px 16px;
}

.unit-bottom {
    padding: 0 0 10px 0;
}

.unit-back-row {
    
}

.unit-front-row {

}

.unit-row-title {
    text-align: center;
    font-size: .8em;
    font-weight: 800;
    margin: 0 0 4px 0;
}

.unit-action {
    margin: 0 0 8px 0;
    padding: 0 0 0 16px;
    font-size: 0.9em;
    font-weight: 800;
    white-space: nowrap;
    background-color: black;
    color: white;
}

.action-defense {

}

.action-gold {

}

.action-attack {

}

.action-crystal {

}

footer {
    color: #fff;
    background-color: rgba(17, 17, 17, .85);
    opacity: .8;
    text-align: center;
    margin: 0;
    padding: 8px 32px 8px 32px;
    position: relative;
    bottom: 0;
}

/* Action colors */
.wood,
.growth {
    background-color: #7ab42b;
}

.burnout,
.dormant,
.frail,
.renegade,
.knockout,
.reaper,
.vanish {
    background-color: #333333;
}

.arrow,
.wound,
.fireball,
.flare,
.drain,
.undercut,
.snipe {
    background-color: #bbbbbb;
}

.defense,
.protect,
.toxic,
.golemShield,
.guardian,
.tribalHex,
.fortify {
    background-color: #79a0fc;
}

.recruit,
.transform,
.matriarch,
.reanimate {
    background-color: #bf8b5b;
}

.attack,
.honor,
.rampage,
.bolt,
.deathBolt,
.atkSquire,
.revenge,
.wolfPack,
.dogPack,
.foxPack,
.spearhead,
.flourish,
.frenzy,
.gamble,
.liege {
    background-color: #ba5c3d;
}

.gold,
.greed,
.charity,
.tribalDues,
.tax {
    background-color: #e6c039;
}

.crystal,
.windfall {
    background-color: #3497e3;
}

.healing,
.paladin {
    background-color: #a8c658;
}

.farmerKing,
.knightKing,
.skelKing,
.dragonQueen,
.fighterKing,
.barbKing,
.barbBerserk,
.duoRaeus,
.duoRainer,
.duoTydus,
.steal,
.zealot,
.totemfarm,
.spiritLord,
.golemSurge,
.taskmaster,
.siege,
.duoRandal,
.bloodRage,
.stoneWall,
.stoneRam,
.elemental,
.wispKing,
.raidKing {
    background-color: #b528f0;
}
